/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Label.panelInfoTitle
{
	color: #316BD5;
	fontSize: 22;
	fontWeight: bold;
	textAlign: center;
}
s|Label.infoLabel
{
	color: #FFFFFF;
	fontWeight: bold;
}

s|Label.textInfo
{
	color: #FFFFFF;
}
	